In [1]:
import pandas as pd
data=pd.read_csv("C:\\Users\\Aarav Menon\\OneDrive\\Desktop\\project\\journal datastd\\DET_EXPRESS2009_3_4_5数据-03.csv")
print(data.head())

   LINK_ID                 TIME  FLOW  LANE_NO  OCC  ASPEED  LARGE_CAR_FLOW
0     3036  2009-06-01 00:01:13     6       13    1      77               0
1     3036  2009-06-01 00:01:13    13       12    2      83               2
2     3036  2009-06-01 00:01:13    16       11    2      68               1
3     3036  2009-06-01 00:01:13     9        3    1      79               0
4     3036  2009-06-01 00:01:13    19        2    4      47               3

In [2]:
print(data.isnull().sum())

LINK_ID           0
TIME              0
FLOW              0
LANE_NO           0
OCC               0
ASPEED            0
LARGE_CAR_FLOW    0
dtype: int64

In [3]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
numerical_features=['FLOW','OCC','ASPEED','LARGE_CAR_FLOW']
data[numerical_features]=scaler.fit_transform(data[numerical_features])
data

,LINK_ID,TIME,FLOW,LANE_NO,OCC,ASPEED,LARGE_CAR_FLOW
0,3036,2009-06-01 00:01:13,-1.184004,13,-0.658748,1.161728,-0.705976
1,3036,2009-06-01 00:01:13,-0.791068,12,-0.567531,1.523713,-0.270084
2,3036,2009-06-01 00:01:13,-0.622667,11,-0.567531,0.618751,-0.488030
3,3036,2009-06-01 00:01:13,-1.015603,3,-0.658748,1.282390,-0.705976
4,3036,2009-06-01 00:01:13,-0.454266,2,-0.385096,-0.648197,-0.052137
...,...,...,...,...,...,...,...
67786,3036,2009-06-22 14:20:26,0.612274,2,-0.111444,0.015442,-0.488030
67787,3036,2009-06-22 14:20:26,0.892942,1,0.070991,0.256766,-0.052137
67788,3036,2009-06-22 14:20:26,0.443873,13,0.527078,-0.225881,1.037594
67789,3036,2009-06-22 14:20:26,1.285878,12,0.618295,0.136104,0.819648
67790,3036,2009-06-22 14:20:26,1.342012,11,0.435860,-0.406873,0.165809

In [4]:
#removing date and other columns
data.drop(columns=['LANE_NO'],inplace=True)
data.drop(columns=['TIME'],inplace=True)
data.drop(columns=['LINK_ID'],inplace=True)
data

           FLOW       OCC    ASPEED  LARGE_CAR_FLOW
0     -1.184004 -0.658748  1.161728       -0.705976
1     -0.791068 -0.567531  1.523713       -0.270084
2     -0.622667 -0.567531  0.618751       -0.488030
3     -1.015603 -0.658748  1.282390       -0.705976
4     -0.454266 -0.385096 -0.648197       -0.052137
...         ...       ...       ...             ...
67786  0.612274 -0.111444  0.015442       -0.488030
67787  0.892942  0.070991  0.256766       -0.052137
67788  0.443873  0.527078 -0.225881        1.037594
67789  1.285878  0.618295  0.136104        0.819648
67790  1.342012  0.435860 -0.406873        0.165809

[67791 rows x 4 columns]

In [5]:
data.columns

Index(['FLOW', 'OCC', 'ASPEED', 'LARGE_CAR_FLOW'], dtype='object')

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

# Split data into features (X) and target variable (y)
X = data[['OCC', 'ASPEED', 'LARGE_CAR_FLOW']]  # Features
y = data['FLOW']  # Target variable

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the CART regressor
cart_model = DecisionTreeRegressor()

# Train the model
cart_model.fit(X_train, y_train)

# Make predictions on the test data
predictions = cart_model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error (CART):", mse)

Mean Squared Error (CART): 0.07590231902378204